.quiz_form {
	padding: 16px;
	background-color: #fff;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	height: 500px;
	overflow-y: auto;
}

.quiz_form-input {
	margin-bottom: 16px;
}

.quiz_form-button {
	margin-top: 30px;
	background: linear-gradient(272.91deg, #b93723 45.58%, #872718 79.71%);
	margin-right: 16px !important;
	color: white !important;
	border-radius: 0 !important;
}

.question {
	margin-top: 16px;
	padding: 16px;

	div {
		margin-top: 10px;
	}
}

.question_input {
	margin-top: 16px;
	width: 100%;
	margin-bottom: 16px;
}

.question-container {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
}

.select-button {
	background: linear-gradient(302.91deg, #ff907f 15.58%, #872718 89.71%);
	color: #fff;
	padding: 5px 10px;
	cursor: pointer;
	width: fit-content; /* Adjust the width to your preference */
	display: inline-block;
}

.icon-button {
	font-size: 12px;
}
